<div class="mat-accordion-table">
    <mat-accordion>
        <mat-expansion-panel (opened)="panelOpenState = true" (closed)="panelOpenState = false">
            <mat-expansion-panel-header>
                <div class="accordion-heading-container">
                    <mat-panel-title>
                        Level 1
                    </mat-panel-title>
                </div>
                <div class="accordion-description-container1">
                    <mat-panel-description>
                        <div class="input-field-container">
                            <div class="mat-input-selector row">
                                <div class="col">
                                    <mat-form-field appearance="legacy">
                                        <mat-label>Budget</mat-label>

                                        <input matInput (click)="stopEvent($event)" placeholder="Placeholder">
                                    </mat-form-field>
                                </div>
                                <div class="col">
                                    <mat-form-field appearance="legacy">
                                        <mat-label>Budget</mat-label>

                                        <input matInput (click)="stopEvent($event)" placeholder="Placeholder">
                                    </mat-form-field>
                                </div>
                                <div class="col">
                                    <mat-form-field appearance="legacy">
                                        <mat-label>Budget</mat-label>

                                        <input matInput (click)="stopEvent($event)" placeholder="Placeholder">
                                    </mat-form-field>
                                </div>
                                <div class="col">
                                    <mat-form-field appearance="legacy">
                                        <mat-label>Budget</mat-label>

                                        <input matInput (click)="stopEvent($event)" placeholder="Placeholder">
                                    </mat-form-field>
                                </div>
                                <div class="col">
                                    <mat-form-field appearance="legacy">
                                        <mat-label>Budget</mat-label>

                                        <input matInput (click)="stopEvent($event)" placeholder="Placeholder">
                                    </mat-form-field>
                                </div>
                                <div class="col">
                                    <mat-form-field appearance="legacy">
                                        <mat-label>Budget</mat-label>

                                        <input matInput (click)="stopEvent($event)" placeholder="Placeholder">
                                    </mat-form-field>
                                </div>
                                <!-- <div class="col">
                                    <mat-form-field appearance="legacy">
                                        <mat-label>Budget</mat-label>

                                        <input matInput (click)="stopEvent($event)" placeholder="Placeholder">
                                    </mat-form-field>
                                </div> -->
                            </div>
                        </div>
                    </mat-panel-description>
                </div>
            </mat-expansion-panel-header>
            <div class="child-accordion-container">
                <mat-accordion>
                    <mat-expansion-panel (opened)="panelOpenState = true" (closed)="panelOpenState = false">
                        <mat-expansion-panel-header>
                            <div class="accordion-heading-container">
                                <mat-panel-title>
                                    Level 2
                                </mat-panel-title>
                            </div>
                            <div class="accordion-description-container2">
                                <mat-panel-description>
                                    <div class="input-field-container">
                                        <div class="mat-input-selector row">
                                            <div class="col">
                                                <mat-form-field appearance="legacy">
                                                    <mat-label>Budget</mat-label>

                                                    <input matInput (click)="stopEvent($event)" placeholder="Placeholder">
                                                </mat-form-field>
                                            </div>
                                            <div class="col">
                                                <mat-form-field appearance="legacy">
                                                    <mat-label>Budget</mat-label>

                                                    <input matInput (click)="stopEvent($event)" placeholder="Placeholder">
                                                </mat-form-field>
                                            </div>
                                            <div class="col">
                                                <mat-form-field appearance="legacy">
                                                    <mat-label>Budget</mat-label>

                                                    <input matInput (click)="stopEvent($event)" placeholder="Placeholder">
                                                </mat-form-field>
                                            </div>
                                            <div class="col">
                                                <mat-form-field appearance="legacy">
                                                    <mat-label>Budget</mat-label>

                                                    <input matInput (click)="stopEvent($event)" placeholder="Placeholder">
                                                </mat-form-field>
                                            </div>
                                            <div class="col">
                                                <mat-form-field appearance="legacy">
                                                    <mat-label>Budget</mat-label>

                                                    <input matInput (click)="stopEvent($event)" placeholder="Placeholder">
                                                </mat-form-field>
                                            </div>
                                            <div class="col">
                                                <mat-form-field appearance="legacy">
                                                    <mat-label>Budget</mat-label>

                                                    <input matInput (click)="stopEvent($event)" placeholder="Placeholder">
                                                </mat-form-field>
                                            </div>
                                            <!-- <div class="col">
                                                <mat-form-field appearance="legacy">
                                                    <mat-label>Budget</mat-label>

                                                    <input matInput (click)="stopEvent($event)" placeholder="Placeholder">
                                                </mat-form-field>
                                            </div> -->
                                        </div>
                                    </div>
                                </mat-panel-description>
                            </div>
                        </mat-expansion-panel-header>
                        <div class="child-accordion-container2">
                            <mat-accordion>
                                <mat-expansion-panel (opened)="panelOpenState = true" (closed)="panelOpenState = false">
                                    <mat-expansion-panel-header>
                                        <div class="accordion-heading-container">
                                            <mat-panel-title>
                                                Level 3
                                            </mat-panel-title>
                                        </div>
                                        <div class="accordion-description-container3">
                                            <mat-panel-description>
                                                <div class="input-field-container">
                                                    <div class="mat-input-selector row">
                                                        <div class="col">
                                                            <mat-form-field appearance="legacy">
                                                                <mat-label>Budget</mat-label>

                                                                <input matInput (click)="stopEvent($event)" placeholder="Placeholder">
                                                            </mat-form-field>
                                                        </div>
                                                        <div class="col">
                                                            <mat-form-field appearance="legacy">
                                                                <mat-label>Budget</mat-label>

                                                                <input matInput (click)="stopEvent($event)" placeholder="Placeholder">
                                                            </mat-form-field>
                                                        </div>
                                                        <div class="col">
                                                            <mat-form-field appearance="legacy">
                                                                <mat-label>Budget</mat-label>

                                                                <input matInput (click)="stopEvent($event)" placeholder="Placeholder">
                                                            </mat-form-field>
                                                        </div>
                                                        <div class="col">
                                                            <mat-form-field appearance="legacy">
                                                                <mat-label>Budget</mat-label>

                                                                <input matInput (click)="stopEvent($event)" placeholder="Placeholder">
                                                            </mat-form-field>
                                                        </div>
                                                        <div class="col">
                                                            <mat-form-field appearance="legacy">
                                                                <mat-label>Budget</mat-label>

                                                                <input matInput (click)="stopEvent($event)" placeholder="Placeholder">
                                                            </mat-form-field>
                                                        </div>
                                                        <div class="col">
                                                            <mat-form-field appearance="legacy">
                                                                <mat-label>Budget</mat-label>

                                                                <input matInput (click)="stopEvent($event)" placeholder="Placeholder">
                                                            </mat-form-field>
                                                        </div>

                                                        <!-- <div class="col">
                                                            <mat-form-field appearance="legacy">
                                                                <mat-label>Budget</mat-label>

                                                                <input matInput (click)="stopEvent($event)" placeholder="Placeholder">
                                                            </mat-form-field>
                                                        </div> -->
                                                    </div>
                                                </div>
                                            </mat-panel-description>
                                        </div>
                                    </mat-expansion-panel-header>
                                    <div class="level4-accordion-cotainer">
                                        <div class="level4-left-continer">
                                            <div class="level4=header">Level 4</div>
                                        </div>
                                        <div class="level4-right-continer">
                                            <div class="input-field-container">
                                                <div class="mat-input-selector row">
                                                    <div class="col">
                                                        <mat-form-field appearance="legacy">
                                                            <mat-label>Budget</mat-label>

                                                            <input matInput (click)="stopEvent($event)" placeholder="Placeholder">
                                                        </mat-form-field>
                                                    </div>
                                                    <div class="col">
                                                        <mat-form-field appearance="legacy">
                                                            <mat-label>Budget</mat-label>

                                                            <input matInput (click)="stopEvent($event)" placeholder="Placeholder">
                                                        </mat-form-field>
                                                    </div>
                                                    <div class="col">
                                                        <mat-form-field appearance="legacy">
                                                            <mat-label>Budget</mat-label>

                                                            <input matInput (click)="stopEvent($event)" placeholder="Placeholder">
                                                        </mat-form-field>
                                                    </div>
                                                    <div class="col">
                                                        <mat-form-field appearance="legacy">
                                                            <mat-label>Budget</mat-label>

                                                            <input matInput (click)="stopEvent($event)" placeholder="Placeholder">
                                                        </mat-form-field>
                                                    </div>
                                                    <div class="col">
                                                        <mat-form-field appearance="legacy">
                                                            <mat-label>Budget</mat-label>

                                                            <input matInput (click)="stopEvent($event)" placeholder="Placeholder">
                                                        </mat-form-field>
                                                    </div>
                                                    <div class="col">
                                                        <mat-form-field appearance="legacy">
                                                            <mat-label>Budget</mat-label>

                                                            <input matInput (click)="stopEvent($event)" placeholder="Placeholder">
                                                        </mat-form-field>
                                                    </div>
                                                    <!-- <div class="col">
                                                        <mat-form-field appearance="legacy">
                                                            <mat-label>Budget</mat-label>

                                                            <input matInput (click)="stopEvent($event)" placeholder="Placeholder">
                                                        </mat-form-field>
                                                    </div> -->
                                                </div>
                                            </div>
                                        </div>
                                    </div>

                                </mat-expansion-panel>
                            </mat-accordion>
                        </div>
                    </mat-expansion-panel>
                </mat-accordion>
            </div>
        </mat-expansion-panel>
    </mat-accordion>
</div>