.mat-accordion-table {
    margin-top: 20px;
}

.accordion-heading-container {
    display: flex;
    align-items: center;
    width: 10%;
}

mat-form-field {
    padding-top: 17px;
    width: 100%;
}

mat-panel-title {
    padding-top: 17px;
}

/* .accordion-description-container1 {
    width: 90%;
} */

/* .accordion-description-container2 {
    width: 94%;
}

.accordion-description-container3 {
    width: 97%;
} */

.level4-accordion-cotainer {
    display: flex;
}

.level4-left-continer {
    display: flex;
    align-items: center;
    width: 10%;
    padding-top: 17px;
    padding-left: 24px;
}

.level4-right-continer {
    padding-left: 5px;
    width: 87%;
}

.input-field-container {
    width: 100%;
}
.mat-input-selector{
    display: flex;
}
.mat-input-selector .inner-input-selector{
    margin-right: 5px;
}
.mat-input-selector div{
    width: 13.9%;
}
@media only screen and (max-width: 1280px) {
    .mat-input-selector div {
        width: 13.5%;
    }
  }